@import "tailwindcss";

@keyframes logo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo-marquee-track {
  animation: logo-marquee 24s linear infinite;
}

@keyframes scroll-y {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-y {
  animation: scroll-y 18s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-25%);
  }
}

.animate-marquee {
  animation: marquee 9s linear infinite;
}